{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    {{ include('_parts/_header.html.twig') }}

    <main class="center-wrapper">
        <form method="post">
            <h2 class="h3 mb-3 font-weight-normal text-center">Connexion</h2>
            <label for="inputEmail">E-mail</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
            <label for="inputPassword" class="mt-2">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="checkbox mt-2 mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                </label>
            </div>

            <button class="btn btn-primary w-100" type="submit">Se Connecter</button>
        </form>
    </main>

    {{ include('_parts/_footer.html.twig') }}

{% endblock %}
