<footer class="position-absolute d-flex flex-column justify-content-center align-items-center text-center">
    <p class="m-0">SoigneMoi - E-mail : <a href="mailto:matosaurus.app@gmail.com">secretariat@soignemoi.com</a></p>
    <p class="m-0">Licence Creative Commons <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img src="{{ asset('images/creative_commons.png') }}" alt="Logo Creative Commons"></a> - <a class="footer-link" href="{{ path('app_cgu') }}">CGU</a> - SoigneMoi 2024</p>
</footer>