{% extends 'base.html.twig' %}

{% block title %}Demande de Séjour{% endblock %}

{% block body %}

    {{ include('_parts/_header.html.twig') }}

    <main class="d-flex flex-column align-items-center">
        <h1>Create new Stay</h1>

        {{ include('main/_form.html.twig') }}

        <a href="{{ path('app_main') }}">back to list</a>
    </main>

    {{ include('_parts/_footer.html.twig') }}

{% endblock %}
