{% extends 'base.html.twig' %}

{% block title %}Conditions Générales d'Utilisation{% endblock %}

{% block body %}

    {{ include('_parts/_header.html.twig') }}

    <main>
        <h1 class="mt-2 mb-4">Conditions Générales d'Utilisation</h2>

        <div class="ps-2 pe-2 text-justified">
            <h4 class="mb-2"><b>Article 1</b> : Objet</h4>
            <p class="cgu-text small m-0">Les présentes CGU ou Conditions Générales d’Utilisation encadrent juridiquement l’utilisation des services de l'Application Web SoignMoi (ci-après dénommé « le site » ou « l'application »).
            <p class="cgu-text small m-0">Constituant le contrat entre le développeur de l'application et l’Utilisateur, l’accès au site doit être précédé de l’acceptation de ces CGU. L’accès à cette plateforme signifie l’acceptation des présentes CGU.</p>

            <h4 class="mt-3 mb-2"><b>Article 2</b> : Mentions légales</h4>
            <p class="cgu-text small m-0">L’édition de l'application est assurée par Julien LABATUT, certifié "Développeur Web et Web Mobile (Niveau V)" par l'organisme STUDI en partenariat académique avec DIGITAL CAMPUS, dans le cadre de son évaluation au titre de "Développeur Concepteur d'Application (Niveau VI)". Ces certifications sont reconnues au Répertoire National des Certifications Professionnelles (RNCP).</p>
            <p class="cgu-text small m-0">Cette application n'a pas pour vocation a être utilisée que ce soit par des patients ou par des professionnels de la santé. Il s'agit seulement d'un sujet d'étude.</p>

            <h4 class="mt-3 mb-2"><b>Article 3</b> : Accès au site</h4>
            <p class="cgu-text small m-0">Le site est accessible depuis n’importe où par tout utilisateur disposant d’un accès à Internet. Tous les frais nécessaires pour l’accès aux services (matériel informatique, connexion Internet…) sont à la charge de l’utilisateur.</p>
            <p class="cgu-text small m-0">L’accès aux services dédiés aux membres s’effectue à l’aide d’un identifiant et d’un mot de passe.</p>
            <p class="cgu-text small m-0">Pour des raisons de maintenance ou autres, l’accès au site peut être interrompu ou suspendu par l’éditeur sans préavis ni justification.</p>

            <h4 class="mt-3 mb-2"><b>Article 4</b> : Collecte des données</h4>
            <p class="cgu-text small m-0">Pour la création du compte de l’Utilisateur, la collecte des informations au moment de l’inscription sur le site est nécessaire et obligatoire.</p>
            <p class="cgu-text small m-0">Conformément à la loi n°78-17 du 6 janvier relative à l’informatique, aux fichiers et aux libertés, la collecte et le traitement d’informations personnelles s’effectuent dans le respect de la vie privée.</p>
            <p class="cgu-text small m-0">Suivant la loi Informatique et Libertés en date du 6 janvier 1978, articles 39 et 40, l’Utilisateur dispose du droit d’accéder, de rectifier, de supprimer et d’opposer ses données personnelles. L’exercice de ce droit s’effectue par :</p>
            <p class="cgu-text small m-0">- Votre administrateur,</p>
            <p class="cgu-text small m-0">- En envoyant un courrier électronique à l'administrateur du site en <a href="mailto:matosaurus.app@gmail.com">cliquant ici</a>.</p>

            <h4 class="mt-3 mb-2"><b>Article 5</b> : Propriété intellectuelle</h4>
            <p class="cgu-text small m-0">Les marques, logos ainsi que les contenus et codes du site sont protégés par le Code de la propriété intellectuelle, par le droit d’auteur et par une license Creative Commons BY-NC-SA.</p>
            <p class="cgu-text small m-0">La reproduction et la copie des contenus par l’Utilisateur requièrent une autorisation préalable du site. Dans ce cas, toute utilisation à des usages commerciaux ou à des fins publicitaires est proscrite.</p>

            <h4 class="mt-3 mb-2"><b>Article 6</b> : Responsabilité</h4>
            <p class="cgu-text small m-0">Bien que les informations publiées sur le site soient réputées fiables, le site se réserve la faculté d’une non-garantie de la fiabilité des sources.</p>
            <p class="cgu-text small m-0">Les informations diffusées sur le site sont présentées à titre purement informatif et sont sans valeur contractuelle. En dépit des mises à jour régulières, la responsabilité du site ne peut être engagée en cas de modification des dispositions administratives et juridiques apparaissant après la publication. Il en est de même pour l’utilisation et l’interprétation des informations communiquées sur la plateforme.</p>
            <p class="cgu-text small m-0">Le site décline toute responsabilité concernant les éventuels problèmes de cyber sécurité pouvant atteindre le matériel informatique de l’Utilisateur après l’utilisation ou l’accès à ce site.</p>
            <p class="cgu-text small m-0">Le site ne peut être tenu pour responsable en cas de force majeure ou du fait imprévisible et insurmontable d’un tiers.</p>
            <p class="cgu-text small m-0">La garantie totale de la sécurité et la confidentialité des données n’est pas assurée par le site. Cependant, le site s’engage à mettre en œuvre toutes les méthodes requises pour le faire au mieux.</p>

            <h4 class="mt-3 mb-2"><b>Article 7</b> : Liens hypertextes</h4>
            <p class="cgu-text small m-0">Le site peut être constitué de liens hypertextes. En cliquant sur ces derniers, l’Utilisateur sortira de la plateforme. Cette dernière n’a pas de contrôle et ne peut pas être tenue responsable du contenu des pages web relatives à ces liens.</p>

            <h4 class="mt-3 mb-2"><b>Article 8</b> : Cookies</h4>
            <p class="cgu-text small m-0">Lors des visites sur le site, l’installation automatique d’un cookie sur le navigateur de l’Utilisateur peut survenir.</p>
            <p class="cgu-text small m-0">Les cookies correspondent à de petits fichiers déposés temporairement sur le disque dur de l’ordinateur de l’Utilisateur. Ces cookies sont nécessaires pour assurer l’accessibilité et la navigation sur le site. Ces fichiers ne comportent pas d’informations personnelles et ne peuvent pas être utilisés pour l’identification d’une personne.</p>
            <p class="cgu-text small m-0">L’information présente dans les cookies est utilisée pour améliorer les performances de navigation sur l'application.</p>
            <p class="cgu-text small m-0">En naviguant sur le site, l’Utilisateur accepte les cookies. Leur désactivation peut s’effectuer via les paramètres du logiciel de navigation.</p>

            <h4 class="mt-3 mb-2"><b>Article 9</b> : Publication par l’Utilisateur</h4>
            <p class="cgu-text small m-0">Dans ses publications, le membre est tenu de respecter les règles de la Netiquette ainsi que les règles de droit en vigueur.</p>
            <p class="cgu-text small m-0">Le site dispose du droit d’exercer une modération à posteriori sur les publications et peut refuser leur mise en ligne sans avoir à fournir de justification.</p>
            <p class="cgu-text small m-0">Le membre garde l’intégralité de ses droits de propriété intellectuelle. Toutefois, toute publication sur le site implique la délégation du droit non exclusif et gratuit à l'éditeur de représenter, reproduire, modifier, adapter, distribuer et diffuser la publication n’importe où et sur n’importe quel support pour la durée de la propriété intellectuelle. Cela peut se faire directement ou par l’intermédiaire d’un tiers autorisé. Cela concerne notamment le droit d’utilisation de la publication sur le web.</p>
            <p class="cgu-text small m-0">L’Utilisateur est tenu responsable de tout contenu qu’il met en ligne.</p>
            <p class="cgu-text small m-0">L’Utilisateur s’engage à ne pas publier de contenus susceptibles de porter atteinte aux intérêts de tierces personnes. Toutes procédures engagées en justice par un tiers lésé à l’encontre du site devront être prises en charge par l’Utilisateur.</p>
            <p class="cgu-text small m-0">La suppression ou la modification par le site du contenu de l’Utilisateur peut s’effectuer à tout moment, pour n’importe quelle raison et sans préavis.</p>

            <h4 class="mt-3 mb-2"><b>Article 10</b> : Durée du contrat</h4>
            <p class="cgu-text small m-0">Le présent contrat est valable pour une durée indéterminée. Le début de l’utilisation des services du site marque l’application du contrat à l’égard de l’Utilisateur.</p>

            <h4 class="mt-3 mb-2"><b>Article 11</b> : Droit applicable et juridiction compétente</h4>
            <p class="cgu-text small m-0 mb-3">Le présent contrat est soumis à la législation française. L’absence de résolution à l’amiable des cas de litige entre les parties implique le recours aux tribunaux français compétents pour régler le contentieux.</p>
        </div>

        <div class="d-flex flex-row justify-content-center w-100 mt-2">
            <a class="btn btn-primary" href="{{ app.request.headers.get('referer') }}">Retour</a>
        </div>
    </main>

    {{ include('_parts/_footer.html.twig') }}

{% endblock %}
